<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="VatLieuXaydung.Properties.Settings.VatLieuDBConnectionString"
        connectionString="Data Source=MAYCHU\SQLEXPRESS;Initial Catalog=VatLieuDB;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
